@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (Model != null)
{
    @*<div>
        <p>Name: @Model.Username</p>
        <p>Email: @Model.Email</p>
    </div>
    <form id="logoutForm" asp-controller="Home" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-link nav-link">Logout</button>
    </form>*@
}