@{
    ViewData["Title"] = "View Page";
}
<style>
    .card_main_box_border {
        border-left: none;
        border-right: none;
        border-top: 2px solid Gray;
        border-bottom: 2px solid Gray;
    }
</style>
<h4 class="text-center">
    <a href="/list/@ViewBag.gall_id" style="color: #212529; text-decoration: none;">게시판</a>
</h4>
<div class="d-flex justify-content-center">
    <div class="hstack gap-2">
        <h3>@Model.Title</h3>
    </div>
</div>
<div class="hstack">
    <div class="hstack gap-1 p-2">
        <div>@Model.Username</div>
    </div>
    <div class="p-2 ms-auto">@Model.CreatedAt</div>
</div>
<div class="mx-auto p-0">
    <div class="card card_main_box_border rounded-0 mb-2">
        <div class="card-body">
            <div class="mt-3 mb-3">
                <div>@Html.Raw(Model.Text!)</div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.UserVerification)
{
    <div class="hstack">
        <a href="/list/modify/?id=@ViewBag.gall_id&no=@ViewBag.data_id" class="btn btn-primary">수정</a>
        @*<form id="writeForm" action="/list/delete/?id=@ViewBag.gall_id&no=@ViewBag.data_id" method="post">
            <button class="btn btn-primary">삭제</button>
        </form>*@
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            삭제
        </button>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">삭제</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        게시글을 삭제하시겠습니까?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <form id="writeForm" action="/list/delete/?id=@ViewBag.gall_id&no=@ViewBag.data_id" method="post">
                            <button class="btn btn-primary">삭제</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

